<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="alert alert-secondary font-weight-bold p-4" role="alert">
  Congratulations! You have been granted a loan.
</div>
<div class="row pl-5 ">
  <label>Identification number:  </label>
  <p  th:text="${loan.id}"> 334 </p>
</div>
<div class="row pl-5">
  <label>Date:  </label>
  <p  th:text="${loan.dueDate}"> 12-03-2022 </p>
</div>
<div class="row pl-5">
  <label>Amount: </label>
  <p  th:text="${loan.amount}"> 356 000 </p>
</div>
<div class="row pl-5">
  <label>Loan extension link: </label>
</div>
</body>
</html>